html, body {
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
}

.burger {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #40b6b8;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.burger__line {
  position: relative;
  top: 12px;
  width: 20px;
  height: 4px;
  margin: 5px auto;
  background: #b9d9db;
}

.header {
  background: #34bac4;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .header {
    position: fixed;
    left: 100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
  }
  .header.active {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.header__navbar {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10vw;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (max-width: 375px) {
  .header__navbar {
    display: block;
  }
}

.header__anchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
  margin-left: 9vw;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  font-family: Helvetica;
  border-radius: 2px;
}

@media screen and (max-width: 375px) {
  .header__anchors {
    margin: 125px auto;
  }
}

.header__anchors:hover {
  color: black;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  -webkit-box-shadow: 3px 2px 2px 0px;
          box-shadow: 3px 2px 2px 0px;
}

.header__anchors:active {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__text {
  width: 900px;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 375px) {
  .info__text {
    width: 280px;
    font-size: 0.9rem;
  }
}

.phones__title {
  text-align: center;
  margin: 10vh 0;
}

.phones__eachPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phones__description {
  width: 50vw;
}

.phones {
  overflow: hidden;
}

.phones__eachPhone {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

.phones__iphone {
  width: 200px;
  height: 385px;
  border: 3px #b6851b solid;
  border-radius: 20px;
  background: black;
}

.phones__screen {
  position: relative;
  width: 185px;
  height: 371px;
  border-radius: 10px;
  background: #202020;
  margin: 7px auto;
  overflow: hidden;
}

.phones__screen::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: skewX(160deg) translateX(-70%);
          transform: skewX(160deg) translateX(-70%);
}

.phones__screen.active {
  background-image: url(../../img/wonderful_buachaille_etive_mor_mountain_waterfall-wallpaper-1024x768.jpg);
  background-size: cover;
}

.phones__screen.active::before {
  content: none;
}

.phones__inner {
  position: relative;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: black;
  width: 120px;
  height: 20px;
  border-bottom-left-radius: 1500px;
  border-bottom-right-radius: 1500px;
}

.phones__inner::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333333;
}

.phones__inner::after {
  content: '';
  position: absolute;
  top: 37%;
  left: 72%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #011c3f;
}

.phones__speaker {
  position: relative;
  top: 38%;
  left: 35%;
  width: 30px;
  height: 4px;
  background: #363636;
}

.phones__volume {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  top: -83%;
  left: -3%;
}

.phones__silence {
  margin-bottom: 18px;
  width: 3px;
  height: 20px;
  background: #b6851b;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 0.2s);
  transition: cubic-bezier(0.215, 0.61, 0.355, 0.2s);
}

.phones__silence:hover {
  -webkit-box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
          box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
  cursor: pointer;
}

.phones__silence:active {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

.phones__up, .phones__down {
  margin: 9px 0;
  width: 3px;
  height: 20px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  background: #b6851b;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.phones__up:hover, .phones__down:hover {
  -webkit-box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
          box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
  cursor: pointer;
}

.phones__up:active, .phones__down:active {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

.phones__power {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  top: -95%;
  left: 101%;
}

.phones__button {
  width: 3px;
  height: 40px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background: #b6851b;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 0.2s);
  transition: cubic-bezier(0.215, 0.61, 0.355, 0.2s);
}

.phones__button:hover {
  -webkit-box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
          box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
  cursor: pointer;
}

.phones__button:active {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.phones__eachPhone {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phones__sony {
  width: 200px;
  height: 370px;
  background: black;
  border-radius: 2px;
}

.phones__screen--sony {
  position: relative;
  width: 190px;
  height: 300px;
  background: #202020;
  margin: 0 auto;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.phones__screen--sony::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: skewX(135deg) translateX(90%);
          transform: skewX(135deg) translateX(90%);
}

.phones__screen--sony.active {
  background-image: url(../../img/wonderful_buachaille_etive_mor_mountain_waterfall-wallpaper-1024x768.jpg);
  background-size: cover;
}

.phones__screen--sony.active::before {
  content: none;
}

.phones__inner--sony {
  position: relative;
  top: -81%;
  left: 37%;
  width: 50px;
  height: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #5a5a5a;
}

.phones__inner--sony::before {
  content: '';
  position: absolute;
  top: 220%;
  left: -40%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: grey;
}

.phones__inner--sony::after {
  content: '';
  position: absolute;
  top: 290%;
  left: -35%;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: black;
}

.phones__logo {
  position: relative;
  top: -78%;
  left: 40%;
  font-size: 0.7rem;
  color: white;
}

.phones__volume--sony {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  top: -70%;
  left: 100%;
  cursor: pointer;
}

.phones__up--sony, .phones__down--sony {
  width: 3px;
  height: 22px;
  background: black;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.phones__up--sony:hover, .phones__down--sony:hover {
  -webkit-box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
          box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
}

.phones__up--sony:active, .phones__down--sony:active {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.phones__up--sony:active {
  -webkit-transform: skewX(2deg);
          transform: skewX(2deg);
}

.phones__down--sony:active {
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
}

.phones__power--sony {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  top: -64%;
  left: 100%;
  cursor: pointer;
}

.phones__button--sony {
  width: 3px;
  height: 20px;
  background: black;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.phones__button--sony:hover {
  -webkit-box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
          box-shadow: -1.5px 0px 10px 0.5px #3a3a3a;
}

.phones__button--sony:active {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.contact {
  background: #40b6b8;
}

.contact__title {
  text-align: center;
  margin: 0;
  padding: 30px 0;
}
/*# sourceMappingURL=style.css.map */