$bodyBackground: rgb(245, 245, 245);

html, body{
    margin: 0;
    padding: 0;
}

body{
    background: $bodyBackground;
}

.wrapper{
    width: 100vw;
    margin: 0 auto;
}

//*IMPORTS
@import './components/header';
@import './components/_info';
@import './components/phones';
@import './components/phones__iphone';
@import './components/phones_sony';
@import './components/contact'