html, body{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(245, 245, 245);
}

.wrapper{
    width: 85vw;
    margin: 0 auto;
}

//*IMPORTS

@import './components/header';
@import './components/phones';
@import './components/phones__iphone';
@import './components/phones_sony';
@import './components/contact'