html, body{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(245, 245, 245);
}

.wrapper{
    width: 85vw;
    margin: 0 auto;
}

.header{
    background: rgb(157, 248, 255);
    height: 5vh;
}

.navbar{
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-anchors{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 9vw;
}

.phones-title{
    text-align: center;
    margin: 10vh 0;
}

.eachPhone{
    display: flex;
}

.phones-description{
    width: 50vw;
}

.phonesCSS{
    margin-left: 2vw;
}

.iphone{
    width: 200px;
    height: 385px;
    border: 3px rgb(182, 133, 27) solid;
    border-radius: 20px;
    background: black;
}

.iphoneScreen{
    width: 185px;
    height: 371px;
    border-radius: 10px;
    background: grey;
    margin: 7px auto;
}