$caseBackground: rgb(182, 133, 27);
$buttonShadow: #3a3a3a;
$iphoneBackground: black;
$screenBackground: rgb(32, 32, 32);
$screenReflexBackground: rgba(255, 255, 255, .2);
$cameraGlassBackground: rgb(51, 51, 51);
$cameraBackground: rgb(1, 28, 63);
$speakerBackground: rgb(54, 54, 54);

.phones{

    overflow: hidden;

    &__eachPhone{
        justify-content: center;
        margin: 50px 0;
    }

    &__iphone{
        width: 200px;
        height: 385px;
        border: 3px $caseBackground solid;
        border-radius: 20px;
        background: $iphoneBackground;
    }

    &__screen{
        position: relative;
        width: 185px;
        height: 371px;
        border-radius: 10px;
        background: $screenBackground;
        margin: 7px auto;
        overflow: hidden;

        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $screenReflexBackground;
            transform: skewX(160deg) translateX(-70%);
        }

        &.active{
            background-image: url(../../img/Sunset-On-The-Beach.svg);
            background-size: cover;

            &::before{
                content: none;
            }
        }
    }

    &__inner{
        position: relative;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        background: $iphoneBackground;
        width: 120px;
        height: 20px;
        border-bottom-left-radius: 1500px;
        border-bottom-right-radius: 1500px;

        &::before{
            content: '';
            position: absolute;
            top: 25%;
            left: 70%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $cameraGlassBackground;
        }

        &::after{
            content: '';
            position: absolute;
            top: 37%;
            left: 72%;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $cameraBackground;
        }
    }

    &__speaker{
        position: relative;
        top: 38%;
        left: 35%;
        width: 30px;
        height: 4px;
        background: $speakerBackground;
    }

    &__volume{
        width: min-content;
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        top: -83%;
        left: -3%;
    }

    &__silence{
        margin-bottom: 18px;
        width: 3px;
        height: 20px;
        background: $caseBackground;
        transition: cubic-bezier(0.215, 0.610, 0.355, .2s);

        &:hover{
            box-shadow: -1.5px 0px 10px 0.5px $buttonShadow;
            cursor: pointer;
        }

        &:active{
            transform: translateX(1px);
        }
    }

    &__up, &__down{
        margin: 9px 0;
        width: 3px;
        height: 20px;
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        background: $caseBackground;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .2s;

        &:hover{
            box-shadow: -1.5px 0px 10px 0.5px $buttonShadow;
            cursor: pointer;
        }

        &:active{
            transform: translateX(1px);
        }
    }



    &__power{
        width: min-content;
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        top: -95%;
        left: 101%;
    }

    &__button{
        width: 3px;
        height: 40px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        background: $caseBackground;
        transition: cubic-bezier(0.215, 0.610, 0.355, .2s);

        &:hover{
            box-shadow: -1.5px 0px 10px 0.5px $buttonShadow;
            cursor: pointer;
        }

        &:active{
            transform: translateX(-1px);
        }
    }
}